.header-container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e30;
}

.top-header-container {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-heading {
  color: #ffffff;
  font-family: 'Signika Negative', sans-serif;
  font-size: 12px;
  margin: 0px;
  font-weight: 600;
}

.india-text {
  color: #356dcc;
}

.link-item {
  text-decoration: none;
}

.menu-button {
  background: none;
  border: none;
}

.menu-icon {
  color: #ffffff;
  height: 20px;
  width: 20px;
}

.bottom-header-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #161625;
}

.home-and-about-link {
  color: #a9afba;
  text-decoration: none;
  margin: 5px;
  font-weight: 400;
  font-size: 14px;
}

.close-button {
  background: transparent;
  border: none;
}

.close-icon {
  height: 20px;
  width: 20px;
  color: #ffffff;
}
